#charts {overflow: auto;}

#charts .separator {
  background-color: #05E5E5;
  border-bottom: 1.5rem solid #E6FFFE;
  color: #fff;
  font-size: 1.5rem;
  padding: 1.5rem 0;
  text-align: center;
}

#charts .chart-options i {
  font-size: 2rem;
  padding: 0.5rem;
}

#charts .chart-options label {display:none;}
#charts .chart-options i.csv-icon {padding: 0.5rem 1.75rem;}
#charts .chart-options i.close-icon {
  border-left: 1px solid;
  padding-left: 0.75rem;
}

#charts .chart-options .zoom {
  border: 1px solid;
  box-shadow: 2px 2px 10px;
  background-color: darkmagenta;
  padding: 2rem 1.5rem 1rem;
}
#charts .chart-options .zoom span {vertical-align: super;}
#charts .chart-options .zoom span input {
  background-color: inherit;
  border: none;
  color: inherit;  
  height: 3rem;
  width: 2.6rem;
}
#charts .chart-options .zoom span input:focus{outline: 0;}

#charts .ui.dropdown > .text{display:none;}
#charts .ui.compact.menu {vertical-align: inherit;}
#charts .ui.menu.item {padding: 0;}

#charts .save-icon {
  background-color: #00ADFD;  
  border-radius: 2rem;
  color: #fff;
  padding: 1rem;
  position: relative;
  left: 80%;
  top: -3rem;
}

@media (min-width: 992px) { 
  #charts .ui.dropdown > .text{
    display:initial;
    vertical-align: super;
  }

  #charts .chart-options .icon-container {margin-right: 6rem;}
  #charts .chart-options i.csv-icon {padding: 0.5rem 1.75rem;}
  #charts .chart-options i.close-icon {
    border-left: 1px solid;
    padding-left: 0.75rem;
  }  

  #charts .chart-options label {
    display:initial;
    padding: 0 0 1rem 0;
  }
}