.card {
  text-align: center;
  background-color: #fff;

  & > .header {
    padding: 15px;
    padding-top: 30px;

    h1 {
      font-weight: 300;
      font-size: 18px;
      color: $text-dark;
    }

    p {
      display: none;
    }
  }

  & > .actions-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $text-primary;

    & > ul {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      & > li {
        position: relative;
        flex: 1;
        border-right: 1px solid $text-primary;

        &:hover ul {
          visibility: visible;
          opacity: 1;
        }
      }

      ul {
        position: absolute;
        top: 100%;
        left: 0;
        visibility: hidden;
        opacity: 0;
        min-width: 200px;
        padding: 15px;
        border-radius: 3px;
        box-shadow: 0 0 15px rgba(#000, .1);
        background-color: #fff;
        transition: all 300ms;

        button {
          text-align: left;
        }
      }
    }

    button {
      width: 100%;
      padding: 15px;
      color: $text-primary;

      span {
        display: none;
      }
    }

    .material-icons {
      color: $text-dark;
    }
  }

  & > .content {
    padding: 15px;
    overflow-x: auto;
  }
}

.card.-estimates-card {
  margin-bottom: 20px;

  .estimate {
    margin: 20px 0;

    .fade-enter-active {
      animation: fadeIn 200ms forwards;
    }

    .fade-leave-active {
      animation: fadeOut 200ms forwards;
    }

    h3 {
      margin-bottom: 5px;
      font-size: 16px;
      font-weight: 300;
    }

    p {
      font-size: 20px;
      font-weight: 300;
    }

    &.-highlight p {
      font-size: 30px;
      color: $brand-primary;
    }
  }
}
