.sidebar {
  position: absolute;
  z-index: 10;
  top: 50px;
  left: -100%;
  width: 100%;
  min-height: 100%;
  font-size: 16px;
  font-weight: 300;
  background-color: $bg-primary;
  transition: all 300ms;

  @media screen and (min-width: 1200px) {
    top: 0;
    left: -300px;
    width: 300px;
  }

  &.-opened {
    left: 0;
  }

  & > .menu {
    padding-top: 15px;
    padding-left: 15px;

    li {
      margin-top: 30px;
      margin-bottom: 30px;

      ul {
        position: relative;
        padding-left: 80px;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 30px;
          display: block;
          width: 2px;
          height: 100%;
          background-image: linear-gradient($text-primary 33%, rgba(255,255,255,0) 0%);
          background-position: right;
          background-size: 2px 6px;
          background-repeat: repeat-y;
        }
      }
    }
  }
}
