#dashboard-mobile {text-align: center;}

#dashboard-mobile .filter:active, #dashboard-mobile .filter:focus, 
#dashboard-mobile .filter:hover {outline: 0;}

#dashboard-mobile .filter {
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #D1D1D1;
	color: #A7A7A7;
  padding-bottom: 1rem;
}

#dashboard-mobile .filter span {padding: 1rem;}
#dashboard-mobile .filter .align-middle {vertical-align: middle;}

#dashboard-mobile h1 {
  color: #7A7A7A;
  font-size: 1.5rem;
  margin: 1rem 0 2rem 0;
}

#dashboard-mobile .label {
  font-weight: bold;
  margin-bottom: 0.25rem;
}

#dashboard-mobile .value.color {color:#05E5E5}
#dashboard-mobile .value {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#dashboard-mobile .carousel__dot-group .carousel__dot--selected {background-color: #05E5E5;}
#dashboard-mobile .carousel__dot-group button{
  background-color: #7A7A7A;
  border: none;
  border-radius: 50%;
  height: 1rem;
  margin: 0 1rem 2rem 1rem;
  width: 1rem;  
}