body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1;
  color: $text-primary;
}

button {
  outline: 0;
  border: 0;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.material-icons {
  color: #fff;
}

.content-wrapper {
  display: flex;
  overflow-x: hidden;
}
